<!DOCTYPE html>
<html ng-app="demo_app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" href="dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="dist/css/style.css">
		<script src="dist/js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="dist/js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!-- <div ng-include="'dist/templates/movieDetails.html'"></div> -->
		<div ng-controller="movieController" class='app container'>
			<div>
				<form ng-submit="searchMovie()">
					<input type="text" ng-model="searchedMovie">
					<button type="submit">Search</button>
				</form>
			</div>

			<div ng-repeat="movie in movies | orderBy:'-vote_count'" class="row col-xs-0 col-md-4">
				<div class='thumbnail movie' ng-mouseover="displayVotes(this)">
					<img class="movie-poster"ng-src="{{movie.poster_path}}"/>
					<div class='movie-title label label-default'>{{movie.title}}</div>
					<div class='votes'><b>Votes:</b> {{movie.vote_count | number}}</div>
					<div class='description'><b>Description:</b> {{movie.overview}}</div>
					<div class='description'><b>Released:</b> {{movie.release_date | date}}</div>
				</div>
			</div>
		</div>
		
	</body>
</html>